*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container  {
    max-width: 900px;
    margin: 0 auto;
}

body    {
    padding-top: 100px;
}

/* Header */

.header_container   {
    background-color: antiquewhite;
    height: 100px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.first_section_container    {
    background-color: aqua;
    height: 80px;
}

