*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container  {
    max-width: 900px;
    margin: 0 auto;
}

body    {
    margin-top: auto;
}

.reset_inline   {
    display: block;
}

.button {
    background-color: blue;
    color: white;
    padding: 0.5rem;

    text-align: center;
}

img {
    width: 100%;
}

i {
    margin-right: 0.5rem;
}


/* Header */

header  {
    background-color: lightskyblue;
}

/* Top nav bar */

.top_nav_bar   {
    background-color: white;
    padding-left: 5rem;
    padding-right: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4rem;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.top_nav_bar a  {
    text-decoration: none;
}

.left_links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.left_links ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 2rem;

    list-style-type: none;
}

.right_links    {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
}

.right_links ul {
    display: flex;
    flex-direction: space-between;
    gap: 2rem;

    flex: 1 1 auto;

    list-style-type: none;
}

/* Title */

.title_container h1 {
    font-size: 5rem;
}

.title_container    {
    margin-top: 4rem;
    margin-left: 15%;
    margin-right: 15%;
}

.first_img_container    {
    margin-top: 2rem;
    display: flex;
    text-align: left;
}

.first_img_text {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;

    font-size: 1.5rem;
}

.first_button   {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 12rem;
}

.first_icon {
    margin-top: 1.75rem;
    font-size: 2rem;
}

.first_img  {
    margin-bottom: -5rem;
    flex-basis: 70%;
    flex-grow: 1;
    flex-shrink: 1;
}


/* Main */



/* First section */

.first_section_container {
    margin-top: 100px;
    margin-bottom: 4rem;

}

.cards_container    {
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}


.card_dim   {
    border-color: lightgrey;
    border-style: solid;
    border-width: 2px;

    padding: 1rem;
    flex-basis: calc(100%/3);
    flex-grow: 1;
    flex-shrink: 1;
}


/* Cards */
.first_section_container h1  {
    font-size: 2rem;
}

.radio_btn_container    {
    margin-top: 2rem;
    margin-left: 1rem;
}

.radio_btn_container input  {
    margin: 0.25rem;
}

.radio_btn_container span   {
    margin-right: 2rem;
}

.card_sublist   {
    margin-top: 2rem;
}

.card_sublist li    {
    list-style-type: none;
    margin: 10px 0;
}

.card_button    {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card_dim h3    {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.top_hr {
    color: lightgrey;
    margin-left: -1rem;
    margin-right: -1rem;
}

.bottom_hr  {
    color: lightgrey;
    width: calc(100%/10);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* First card */
.first_card_container .plan_type {
    text-align: center;
    margin-bottom: 0.5rem;
}

.second_card_container .plan_type    {
    text-align: center;
    margin-bottom: 0.5rem;
}

.third_card_container .plan_type {
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Bottom card container */

.bottom_card_container   {
    border-color: lightgrey;
    border-style: solid;
    border-width: 2px;
    
    padding: 1rem;
    margin-top: 2rem;

    position: relative;
    
}

.bottom_card_container .plan_type   {
    text-align: center;
    margin-bottom: 0.5rem;
}

.fourth_hr   {
    color: lightgrey;
    margin-left: -1rem;
    margin-right: -1rem;
}

.bottom_card_container h3   {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bottom_card_container h4   {
    margin-bottom: 2rem;
}

.bottom_card_container p    {
    width: 80%;
}

.bottom_card_container .bottom_button   {
    width: 25%;

    position: absolute;
    top: 4rem;
    right: 1rem;
}

/* Second img */

.first_section_img_container    {
    margin-top: 5rem;

    display: flex;
}

.second_img {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}

.second_img_text {
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;

    padding: 3rem;
}

.second_img_text p  {
    margin-top: 1rem;
}

.second_img_text span   {
    background-color: white;
    color: black;

    margin-top: 1rem;
    width: 60%;

    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

/* Second container */

.second_section_container + h1    {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.six_img_general_container  {
    margin-bottom: 12rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.six_img_cards_container  {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
}

/* .six_img_div {
    width: 80%;
} */

.six_img_txt_div h3 {
    margin-bottom: 1rem;
}

.second_section_container h1    {
    font-size: 3rem;
    margin-bottom: 3rem;
}


/* Third section */

.third_section_container    {
    margin-top: 8rem;
}

.brands_general_container   {
    display: flex;
    flex-direction: row;
}

.brands_container   {
    flex-basis: calc(100%/3);
    flex-grow: 1;
    flex-shrink: 1;

}

.brand_logo {
    width: 100%;
    margin: auto;

    padding: 25%;
}

/* Left brands */

.left_brands    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left_brands div    {
    flex-basis: calc(100%/2);
    flex-grow: 1;
    flex-shrink: 1;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
}

.first_brand    {
    border-color: #D1E9CD;
    border-style: solid;
    border-width: 1rem;
    background-color: lightgreen;
}

.second_brand   {
    background-color: #61082B;
}

.third_brand    {
    background-color: #0093CE;
}

.fourth_brand   {
    background-color: #FF1C1C;
}

.center_brands  {
    background-color: aliceblue;
}

/* Center div */

.center_brands  {
    padding: 4rem;
}

.center_brands  img {
    width: 20rem;
    margin-bottom: 2rem;
}

.center_brands hr   {
    margin-right: 40rem;
    margin-bottom: 2rem;
}


/* Right brands */

.right_brands    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.right_brands div    {
    width: 100%;
    flex-basis: calc(100%/2);
    flex-grow: 1;
    flex-shrink: 1;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;

}

.fifth_brand    {
    background-color: #D5001F;
}

.sixth_brand    {
    background-color: #B4D0E7;
}

.seventh_brand  {
    background-color: #0D2481;
}

.eighth_brand   {
    background-color: #FFD830;
}

.under_div_container    {
    background-color: #B4D0E7;
    height: 250px;
}

.under_brands_container   {
    position: relative;
}

.under_brands_container h1  {
    font-size: 2rem;
    padding-top: 4rem;
    padding-right: 20rem;
}

.under_brands_button    {
    background-color: white;
    color: black;
    padding: 1rem;

    position: absolute;
    top: 4rem;
    right: 0rem;
}

/* Fourth section */

.fourth_section {
    margin-bottom: 5rem;
}

.fourth_section h1  {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fourth_section p   {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 15rem;
}

/* Footer */

footer  {
    background-color: black;
    color: white;
}

.footer_container {
    padding-bottom: 2rem;
}

.footer_links   {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 2rem;
}

.footer_links_container {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.footer_links_container h2  {
    margin-bottom: 1rem;
}

li {
    list-style-type: none;
}

footer hr   {
    margin-bottom: 1rem;
}

