*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container  {
    max-width: 900px;
    margin: 0 auto;
}


/* Header */

header  {
    background-color: antiquewhite;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 99;
}


/* Main */

main    {
    background-color: aqua;
    height: 2000px;
}
