*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container  {
    max-width: 900px;
    margin: 0 auto;
}

body    {
    margin-top: 4rem;
}

.button {
    background-color: blue;
    color: white;
    padding: 0.5rem;
}


/* Header */

header  {
    background-color: lightskyblue;
    height: 300px;
}

/* Top nav bar */

.top_nav_bar   {
    background-color: white;
    padding-left: 5rem;
    padding-right: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4rem;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.top_nav_bar a  {
    text-decoration: none;
}

.left_links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.left_links ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 2rem;

    list-style-type: none;
}

.right_links    {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
}

.right_links ul {
    display: flex;
    flex-direction: space-between;
    gap: 2rem;

    flex: 1 1 auto;

    list-style-type: none;
}

/* Title */

.title_container    {
    background-color: antiquewhite;
}

/* Main */


